@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Schibsted+Grotesk:ital,wght@0,700;1,700&display=swap');

body {
    font-family: "Schibsted Grotesk", serif;
    font-weight: 400; /* Убедитесь, что здесь обычное начертание */
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #272727; /* Тёмный фон */
    color: #fff; /* Белый текст */
    font-size: 16px;

    max-width: auto;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Убирает горизонтальную прокрутку */
    font-optical-sizing: unset;

}

a {
    text-decoration: none;
}

/* Шапка */
header {
    background-color: #0f0f0f;

    position: fixed; /* Фиксированное позиционирование */
    top: 0; /* Прикрепить к верхнему краю */
    left: 0; /* Прикрепить к левому краю */
    width: 100%; /* Растянуть на всю ширину */
    z-index: 1; /* Поверх других элементов */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Тень (для красоты) */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5vw 4vw;
}

.container img {
    height: 72px;
}

.button {
    background-color: #32A9DF; /* Голубая кнопка */
    color: #fff; /* Белый текст */
    text-decoration: none; /* Убираем подчёркивание */
    padding: 10px 40px; /* Внутренние отступы */
    border-radius: 50px; /* Скругление углов */
    font-size: 36px;
    white-space: nowrap; /* Запрещаем перенос текста */
    text-decoration: none; /* Убираем стандартное подчёркивание */
}


/* Глав страница */

main {
    margin-top: 120px;
    align-items: center;
    text-align: center;
}

.logo img {
    width: 20vw;
    max-width: 250px;
    height: auto;
}

.logo h2 {
    font-size: 36px;
    margin-top: -5px;
}

h1 {
    font-size: 64px;
    margin-bottom: 30px;
}

/* соц сети */
main .soc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.soc {
    gap: 60px;
    margin-bottom: 30px;
}

img {
    padding: 12px 60px;
    height: 50px;
    width: auto;
}

.x {
    background-color: #fff;
    border-radius: 16px;
}

.tg {
    background-color: #32A9DF;
    border-radius: 16px;
}


/* повтор лин */
section {
    width: 100%;
    color: #272727;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    text-align: center;
    white-space: nowrap; /* Запрещаем перенос текста */
    max-width: 100%;
}

h3 {
    font-size: 4vw;
    width: 95vw; /* Установите фиксированную ширину контейнера */
    margin: 1vw;
    height: auto;
    overflow: hidden; /* Скрыть лишний текст */
    white-space: nowrap; /* Запретить перенос текста */
    word-break: break-word; /* Перенос слов только целиком */
}

/* описание */
article .text {
    margin-left: 15vw;
    margin-right: 15vw;
    margin-bottom: 100px;
    margin-top: 5vw;
    
    text-align: center;
    justify-content: center;
}

h4 {
    font-size: 4vw;
    margin: auto;
    margin-bottom: 2vw;
    text-align: center;
    justify-content: center;
}

.text p {
    font-size: 2vw;
}

/* инструкция */

.instruction {
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 100px;
    margin-left: 10vw;
    margin-right: 10vw;
}

.buy {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    margin-bottom: 30px;
}

.block {
    background-color: #0f0f0f;
    width: 33%;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    margin: 0;
}

h5 {
    font-size: 32px;
    margin-top: 2vw;
}

.block p {
    font-size: 24px;
    margin: 20px;
}

.graf {
    margin-top: 5vw;
    margin-bottom: 60px;
    margin-left: 10vw;
    margin-right: 10vw;
}

iframe {
    height: 540px;
}





/* моб версия */
@media screen and (max-width: 1000px)
    {

    .container img {
        height: 52px;
    }

    .button {
        padding: 5px 20px; /* Внутренние отступы */
        border-radius: 25px; /* Скругление углов */
        font-size: 24px;
    }

    .logo img {
        width: 30vw;
        max-width: 250px;
        height: auto;
    }

    .logo h2 {
        font-size: 18px;
        margin-top: -5px;
    }

    h1 {
        font-size: 7.5vw;
        padding: 2% 10%;
    }

    .soc {
        gap: 30px;
    }

    img {
        padding: 12px 48px;
        height: 24px;
        width: auto;
    }

    /* повтор лин */
section {
    width: 100%;
    color: #272727;
    background-color: #0f0f0f;
    display: flex;
    justify-content: center;
    white-space: nowrap; /* Запрещаем перенос текста */
}


article .text {
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    
    text-align: center;
    justify-content: center;

    }

    h4 {
        font-size: 6vw;
        text-align: center;
        justify-content: center;
        margin-bottom: 2vw;
    }
    
    .text p {
        font-size: 2.4vw;
    }

/* инструкция */

.instruction {
    justify-content: center;
    margin-top: 3vw;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 30px;
}

.buy {
    flex-direction: column; /* Выстраиваем элементы в столбик */
    align-items: center; /* Центрируем блоки по горизонтали */
}

.block {
    width: 90%; /* Задаём ширину для адаптации */
    padding: 1vw;
}

h5 {
    font-size: 20px;
    margin: 5px;
    margin-bottom: 5px;

}

.block p {
    font-size: 14px;
    margin: 20px;
}

.text p {
    font-size: 3.4vw;
}

.pin p {
    font-size: 3.5vw;
}

.graf {
    margin-top: 5vw;
    margin-bottom: 30px;
    margin-left: 10vw;
    margin-right: 10vw;
}

iframe {
    height: 440px;
}

}
